<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>courses</title>
</head>
<body>

<h1 style="background-color:cyan;text-align:center">Courses Offering</h1><hr>
<form action="/home" method="get">
    <form action="/home/course" method="get">
        <form action="/home/course/contact" method="get">
            <form action="/home/course/login" method="get">
                <nav style="background-color:violet">
                <div>
                <article>
                <p>
                <button formaction="/home" type="submit">Home</button>
                <button formaction="/home/course" type="submit">Courses</button>
                <button formaction="/home/course/contact" type="submit">Contact Us</button>
                <button formaction="/home/course/login" type="submit">Login/Signup</button>
                </p>
        </article>
    </div>
</nav>
            </form></form></form></form>
<hr>
<form action="/home/course/contact" method="get">
<form action="/home/course/login" method="get">
<div style="background-color:lightgreen;padding:20px;">
    <article>
        <p style="text-align:center">
        <h3 style="text-align:center">Java Programmer (ID:101)</h3>
        <h4>Starting date : 15 May</h4>
        <h4>Course Duration :3 Months</h4>
        <h4>Course Description : </h4>
        Java is a general-purpose programming language that is class-based, object-oriented,
        and designed to have as few implementation dependencies as possible.
        It is intended to let application developers write once, run anywhere (WORA),
        meaning that compiled Java code can run on all platforms that support Java without the need for recompilation.
        Java applications are typically compiled to bytecode that can run on any Java virtual machine (JVM) regardless
        of the underlying computer architecture. The syntax of Java is similar to C and C++, but it has fewer low-level
        facilities than either of them. As of 2019, Java was one of the most popular programming languages in use according
        to GitHub,particularly for client-server web applications, with a reported 9 million developers.
        </p>
        <button formaction="/home/course/login" type="submit">Apply Now</button>
        <button formaction="/home/course/contact" type="submit">Enquire Now</button>
    </article>
</div>
</form>
</form>
<hr>
<form action="/home/course/contact" method="get">
    <form action="/home/course/login" method="get">
<div style="background-color:yellow;padding:20px;">
    <article>
        <p style="text-align:center">
        <h3 style="text-align:center">Artificial intelligence (ID:102)</h3>
        <h4>Starting date : 15 June</h4>
        <h4>Course Duration :3 Months</h4>
        <h4>Course Description : </h4>
        In computer science, artificial intelligence (AI), sometimes called machine intelligence,
        is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by
        humans and animals. Leading AI textbooks define the field as the study of "intelligent agents":
        any device that perceives its environment and takes actions that maximize its chance of successfully
        achieving its goals.Colloquially, the term "artificial intelligence" is often used to describe machines
        (or computers) that mimic "cognitive" functions that humans associate with the human mind, such as "learning"
        and "problem solving".
        </p>
        <a href="login"><button formaction="/home/course/login" type="submit">Apply Now</button></a>
        <a href="contact"><button formaction="/home/course/contact" type="submit">Enquire Now</button></a>
    </article>
</div>
</form>
</form>
<hr>
<form action="/home/course/contact" method="get">
    <form action="/home/course/login" method="get">
<div style="background-color:violet;padding:20px;">
    <article>
        <p style="text-align:center">
        <h3 style="text-align:center">Big Data</h3>
        <h4>Starting date : 30 June June</h4>
        <h4>Course Duration :3 Months</h4>
        <h4>Course Description : </h4>
        Big data is a field that treats ways to analyze, systematically extract information from, or otherwise
        deal with data sets that are too large or complex to be dealt with by traditional data-processing
        application software. Data with many cases (rows) offer greater statistical power, while data with higher
        complexity (more attributes or columns) may lead to a higher false discovery rate.Big data challenges
        include capturing data, data storage, data analysis, search, sharing, transfer, visualization, querying,
        updating, information privacy and data source. Big data was originally associated with three key
        concepts: volume, variety, and velocity. When we handle big data, we may not sample but simply observe and
        track what happens. Therefore, big data often includes data with sizes that exceed the capacity of traditional
        software to process within an acceptable time and value.
        </p>
        <a href="login"><button formaction="/home/course/login" type="submit">Apply Now</button></a>
        <a href="contact"><button formaction="/home/course/contact" type="submit">Enquire Now</button></a>
    </article>
</div>
</form>
</form>
</body>
</html>