<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Forgotpassword</title>
</head>
<body>
<header>
<h2>Forgot password ?</h2>
<hr>
</header>
<br>

<form action="/newhome/signuppass" method="post">
    <div align="center" th:each="u: ${user}">
        <div><label for><b>User Name:</b></label>
            <input type="text" name="uname" readonly th:value="${u.uname}"></div><br>
        <div><label for><b>Email:</b></label>
            <input  type="text"  name="uemail"  required th:value="${u.uemail}"></div><br>
         <div><label for><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="upassword" id="txtPassword" required></div><br>
        <div><label for><b>Confirm Password:</b></label>
            <input type="password" placeholder="Confirm Password" name="psw-repeat" id="txtConfirmPassword" required></div><br>

    <button formaction="/newhome/signuppass" style="margin:15px;font-size:15px" type="submit" onclick="validate()">Submit</button>
    </div>
</form>
<script>
    
    function Validate() {
var password = document.getElementById("txtPassword").value;
var confirmPassword = document.getElementById("txtConfirmPassword").value;
if (password != confirmPassword) {
alert("Passwords do not match.");
return false;
}
return true;
}
</script>
</body>
</html>