<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: blue;
  color: white;
  font-size: 30px;
}

</style>
</head>
<body>


<div class="header"><h1>expertZlabz</h1></div>
<hr>
    <form action="/home" method="get">
        <form action="/home/newcourse" method="get">
            <form action="/home/newcourse/contact" method="get">
                <form action="/home/newcourse/login" method="get">
                    <nav style="background-color:violet">
                        <div>
                            <article>
                                <p>
                                    <button formaction="/home" type="submit">Home</button>
                                    <button formaction="/home/newcourse" type="submit">Courses</button>
                                    <button formaction="/home/newcourse/contact" type="submit">Contact Us</button>
                                    <button formaction="/home/newcourse/login" type="submit">Login/Signup</button>
                                </p>
                            </article>
                        </div>
                    </nav>
                </form></form></form></form>
<hr>
<div style="padding:20px;">
    <article>
    <p style="text-align:center">
        Expertzlabz is an IT finishing school with a difference.We train on Gen 4.0 technologies,
        which is the hottest in-demand technologies. We aim to be part of the up-skill & re-skill
        movement within the IT fraternity today.We are the cog in the wheel when it comes to the
        train the vast technical pool, on the latest Gen 4.0 technologies.
    </p>
    </article>
</div>
<hr>
<form action="/home/newcourse" method="get">
<div style="background-color:lightgreen;padding:20px;">
    <article>
    <p style="text-align:center">
    <h3>Java Programmer</h3>
        <h4>Starting date : 15 May</h4>
        Java is a general-purpose programming language that is class-based,object-oriented,
        and designed to have as few implementation dependencies as possible.
        <button formaction="/home/newcourse"> View More</button>
    </p>
    </article>
</div>
</form>
<hr>
            <form action="/home/newcourse" method="get">
<div style="background-color:yellow;padding:20px;">
    <p style="text-align:center">
    <h3>Artificial intelligence</h3>
    <h4>Starting date : 15 June</h4>
        In computer science, artificial intelligence, sometimes called machine intelligence,
        is intelligence demonstrated by machines,in contrast to the natural intelligence
        displayed by humans and animals.
        <button formaction="/home/newcourse"> View More</button>
    </p>
</div>
            </form>
</body>
</html>