<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: darkblue;
  color: white;
  font-size: 30px;
}

/* Create  columns that floats next to each other */
.column {
  float: left;
   width : 25%;
  text-align: center;
  padding: 10px;
  border: 1px solid black;

}

</style>
</head>
<body>


<div class="header"><h1>expertZlabz</h1></div>
<hr>
    <form action="/newhome" method="get">
        <form action="/newhome/newcourse" method="get">
            <form action="/newhome/newcourse/contact" method="get">
                <form action="/newhome/newcourse/login" method="get">
                    <nav style="background-color:violet">
                        <div>
                            <article>
                                <p>
                                    <button formaction="/newhome" type="submit">Home</button>
                                    <button formaction="/newhome/newcourse" type="submit">Courses</button>
                                    <button formaction="/newhome/newcourse/contact" type="submit">Contact Us</button>
                                    <button formaction="/newhome/newcourse/login" type="submit">Login/Signup</button>
                                </p>
                            </article>
                        </div>
                    </nav>
                </form></form></form></form>
<hr>
<div style="padding:20px;">
    <article>
    <p style="text-align:center">
        Expertzlabz is an IT finishing school with a difference.We train on Gen 4.0 technologies,
        which is the hottest in-demand technologies. We aim to be part of the up-skill & re-skill
        movement within the IT fraternity today.We are the cog in the wheel when it comes to the
        train the vast technical pool, on the latest Gen 4.0 technologies.
    </p>
    </article>
</div>
<hr>
<form action="/newhome/newcourse" method="get">
<div class="column" th:each="c:${activecourse}" style="background-color:yellow;padding:20px;" align="center">
    <article>
    <p >
    <h3 th:text="${c.coname}"></h3>
        <label><b> Starting on </b></label><label th:text="${c.csdate}"></label><br>
        <label><b> Course Briefing : </b></label><label th:text="${c.cbrief}"></label>
        <button formaction="/newhome/newcourse"> View More</button>
    </p>

    </article>
</div>
</form>
</body>
</html>