<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta  content="text/html" http-equiv="Content-Type"  charset="UTF-8">
    <title>Coursedetails</title>
    <style>
        table, th, td {
border: 1px solid black;
}
    </style>
</head>
<body>
<h2>User Details</h2><br>
<hr><br>
<form action="/newhome/login/admin" method="get"><div align="center">
    <form action="/newhome/login/admin/coursedetails">
<table>
    <tr>
        <th>User ID </th>
        <th>User Name </th>
        <th>Mobile Number </th>
        <th>Email </th>
        <th></th>
        <th></th>
    </tr>

    <tr th:each="u:${user}">
        <td th:text="${u.uid}"></td>
        <td th:text="${u.uname}"></td>
        <td th:text="${u.unumber}"></td>
        <td th:text="${u.uemail}"></td>
        <td><a th:href="@{'/newhome/login/admin/coursedetail/'+${u.uemail}}"> View Detail  </a></td>
        <td><a th:href="@{'/delete/'+${u.uemail}}" onclick="myfunction()">  Delete</a></td>
    </tr>
</table><br>

    <button formaction="/newhome/login/admin"  style="margin:15px;font-size:15px" type="submit">Admin Home</button>
    <button formaction="/newhome/login/admin"  style="margin:15px;font-size:15px" type="submit">Add User</button>
</div>
</form></form>

<script>
function myfunction() {
  alert("Deleted Successfully");
}
function activate() {
  alert("Activated Successfully");
}
function deactivate() {
  alert("Deactivated Successfully");
}
</script>
</body>
</html>